/* styles.css */

body {
  background-color: #f0f0f0; /* Light Gray */
  color: #333; /* Dark Gray */
}

header {
  background-color: #4caf50; /* Green */
}

nav {
  background-color: #333; /* Dark Gray */
}

nav ul li a {
  color: #fff; /* White */
}

nav ul li a:hover {
  color: #f0f0f0; /* Light Gray */
}

body header a {
  color: inherit; /* Inherit color from parent element */
  text-decoration: none; /* Remove underline */
}
section a {
  color: inherit; /* Inherit color from parent element */
  text-decoration: none; /* Remove underline */
}
.receipt,
.workout {
  background-color: #fff; /* White */
  border: 1px solid #ccc; /* Light Gray */
}

.row-fluid {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
}

.overflow-x-auto {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping */
}

/* Previous arrow */
.carousel-control-prev-icon {
  color: #0e100e;
}

/* Next arrow */
.carousel-control-next-icon {
  color: #0e100e;
}
.user-icon {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
}
